{% extends 'blog_base.html' %}
{% block title %}{{ title }}{% endblock %}
{% load widget_tweaks %}
{% block content %}
    <!-- Slideshow -->
    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow=" max-height: 450; animation: push; autoplay: true; finite: false">
        <ul class="uk-slideshow-items">
            {% for post in filter.qs %}
                <li>
                    <img src="{{ post.featured_image.url }}" alt="" uk-cover>
                    <div class="uk-position-center uk-position-small uk-text-center uk-light">
                        <h2 class="uk-margin-remove text-light">{{ post.title | upper }}</h2>
                        <p class="uk-margin-remove text-light">{{ post.description | capfirst | truncatechars:40 }}
                            <a class="text-light" href="{{ post.get_absolute_url }}">More</a>
                        </p>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
    </div>
    <!-- End Slideshow -->

    <div class="uk-container uk-margin-large-top">
        <h2 class="uk-heading-bullet text-light uk-text-capitalize">{{ filter.qs | length }} article{{ filter.qs | pluralize }} found</h2>

        <!-- Filters -->
        <ul uk-accordion>
            <li class="uk-close">
                <a class="uk-accordion-title text-light uk-text-small">
                    <span class="uk-margin-small-right" uk-icon="icon: settings"></span>
                    Filters
                </a>
                <div class="uk-accordion-content">
                    <form method="get">
                        <button type="submit" class="uk-button uk-button-default uk-button-small uk-width-1-1">Search</button>
                        <hr>
                        <div class="uk-grid-small uk-child-width-expand@s uk-text-center" uk-grid>
                            <div>
                                <div class="uk-margin">
                                    <div class="uk-form-label uk-text-left uk-text-bold uk-text-capitalize uk-margin-small-bottom">
                                        {{ filter.form.title.label_tag }}</div>
                                    {% render_field filter.form.title class="uk-input uk-form-small" %}
                                </div>
                            </div>
                        </div>
                        <div class="uk-grid-small uk-child-width-expand@s uk-text-center" uk-grid>
                            <div>
                                <div class="uk-margin">
                                    <div class="uk-form-label uk-text-left uk-text-bold uk-text-capitalize uk-margin-small-bottom">
                                        {{ filter.form.categories.label_tag }}</div>
                                    <div class="uk-form-control uk-text-left text-light">
                                        <ul>
                                            {% for choice in filter.form.categories %}
                                                <li style="list-style: none;">
                                                    <label class="uk-form-label text-light">
                                                        {{ choice.tag }} {{ choice.choice_label }}
                                                    </label>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>

                            </div>
                            <div>
                                <div class="uk-margin">
                                    <div class="uk-form-label uk-text-left uk-text-bold uk-text-capitalize uk-margin-small-bottom">
                                        {{ filter.form.tags.label_tag }}</div>
                                    <div class="uk-form-control uk-text-left text-light">
                                        <ul>
                                            {% for choice in filter.form.tags %}
                                                <li style="list-style: none">
                                                    <label class="uk-form-label text-light">
                                                        {{ choice.tag }} {{ choice.choice_label }}
                                                    </label>
                                                </li>
                                            {% endfor %}

                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>

                </div>
            </li>
        </ul>
        <!-- End Filters -->

        <hr>

        <!-- Post Grid -->
        <div uk-filter="target: .js-filter">
            <ul class="uk-subnav uk-subnav-pill">
                <li class="uk-active" uk-filter-control="sort: data-date; order: desc"><a href="#">Newest</a></li>
                <li uk-filter-control="sort: data-date"><a href="#">Oldest</a></li>
            </ul>
            <ul class="js-filter uk-child-width-1-2@m uk-child-width-1-3@l uk-text-center" uk-grid>
                {% for post in filter.qs %}
                    <li data-date="{{ post.created }}">
                        <div uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 180">
                            <div class="uk-card uk-card-default ">
                                <div class="uk-card-media-top">
                                    <a href="{{ post.get_absolute_url }}"><img src="{{ post.featured_image.url }}" alt=""></a>
                                </div>
                                <div class="uk-card-header">
                                    <p class="uk-h5 uk-text-left uk-heading-bullet uk-text-uppercase">{{ post.title }}</p>
                                    <p class="uk-text-left uk-align-left text-info-muted uk-text-small uk-margin-remove">
                                        Posted by: {{ post.author.first_name }} {{ post.author.last_name | capfirst }}
                                    </p>
                                </div>
                                <div class="uk-card-body">
                                    <p class="text-info-muted uk-margin-remove-top uk-text-small uk-text-left">
                                        {{ post.description | truncatechars:40 | capfirst }}
                                        <a class="uk-button-text" href="{{ post.get_absolute_url }}">More</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}

            </ul>
        </div>
        <!-- End Post Grid -->

    </div>
{% endblock %}