{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
    <div class="uk-container">
        <div uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 180">
            <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@m uk-margin-large-top" uk-grid>
                <div class="uk-flex-first@s uk-card-media-left uk-cover-container">
                    <img src="{% static 'images/contact-us.png' %}" alt="contact-us" uk-cover>
                    <canvas width="600" height="400"></canvas>
                </div>
                <div class="uk-card-body uk-align-center">
                    <h3 class="uk-heading-bullet text-light uk-text-uppercase">Activation Failed</h3>
                    <small>Something went wrong with your activation process</small>
                    <small>Please, <a class=" uk-button-text" href="{% url 'contact_view' %}">contact us</a> to resolve this issue.</small>
                </div>
            </div>
        </div>
    </div>
{% endblock %}