{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
    <div class="uk-container">
        <div uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 180">
            <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@m uk-margin-large-top" uk-grid>
                <div class="uk-flex-first@s uk-card-media-left uk-cover-container">
                    <img src="{% static 'images/contact-us.png' %}" alt="contact-us" uk-cover>
                    <canvas width="600" height="400"></canvas>
                </div>
                <div class="uk-card-body uk-align-center">
                    <h3 class="uk-heading-bullet text-light uk-text-uppercase">Password Reset</h3>
                    <hr class="uk-card-divider">
                    <form class="uk-grid-small" uk-grid method="POST" novalidate>{% csrf_token %}

                        <div class="uk-width-1-1">
                            <label class="uk-form-label">{{ form.email.label_tag }}</label>
                            {% render_field form.email|attr:"class:uk-input" %}
                            {% for error in form.email.errors %}
                                <small class="uk-text-danger">{{ error }}</small>
                            {% endfor %}
                        </div>
{#                        <div class="uk-width-1-2@s">#}
{#                            <label class="uk-form-label">{{ form.password.label_tag }}</label>#}
{#                            {% render_field form.password|attr:"class:uk-input"|attr:"type:password"|attr:"autocomplete: true" %}#}
{#                            {% for error in form.password.errors %}#}
{#                                <small class="uk-text-danger">{{ error }}</small>#}
{#                            {% endfor %}#}
{#                        </div>#}
                        <div class="uk-width-1-1">
                            <button type="submit"
                                    class="uk-button uk-button-default uk-button-medium uk-width-1-1">
                               Request Password Reset
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}