{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
    <div class="uk-container">
        <div uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 180">
            <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@m uk-margin-large-top" uk-grid>
                <div class="uk-flex-first@s uk-card-media-left uk-cover-container">
                    <img src="{% static 'images/contact-us.png' %}" alt="contact-us" uk-cover>
                    <canvas width="600" height="400"></canvas>
                </div>
                <div class="uk-card-body uk-align-center">
                    <h1 class="uk-heading-bullet text-light uk-text-uppercase">Sign Up</h1>
                    <small>Already have an account? <a class=" uk-button-text" href="{% url 'sign_in' %}">Sign in</a></small>
                    <hr class="uk-card-divider">
                    <form class="uk-grid-small" uk-grid action="." method="POST" novalidate>{% csrf_token %}
                        {% if form.non_field_errors %}
                            <div class="uk-width-1-1">
                                <div class="uk-alert uk-alert-danger">
                                    {% for error in form.non_field_errors %}
                                        <p class="text-light uk-text-small">{{ error }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                        <div class="uk-width-1-2@s">
                            <label class="uk-form-label">{{ form.first_name.label_tag }}</label>
                            {% render_field form.first_name|attr:"class:uk-input" %}
                            {% for error in form.first_name.errors %}
                                <small class="uk-text-danger">{{ error }}</small>
                            {% endfor %}
                        </div>
                        <div class="uk-width-1-2@s">
                            <label class="uk-form-label">{{ form.last_name.label_tag }}</label>
                            {% render_field form.last_name|attr:"class:uk-input" %}
                            {% for error in form.last_name.errors %}
                                <small class="uk-text-danger">{{ error }}</small>
                            {% endfor %}
                        </div>
                        <div class="uk-width-1-2@s">
                            <label class="uk-form-label">{{ form.username.label_tag }}</label>
                            {% render_field form.username|attr:"class:uk-input" %}
                            {% for error in form.username.errors %}
                                <small class="uk-text-danger">{{ error }}</small>
                            {% endfor %}
                        </div>
                        <div class="uk-width-1-2@s">
                            <label class="uk-form-label">{{ form.email.label_tag }}</label>
                            {% render_field form.email|attr:"class:uk-input" %}
                            {% for error in form.email.errors %}
                                <small class="uk-text-danger">{{ error }}</small>
                            {% endfor %}
                        </div>

                        <div class="uk-width-1-2@s">
                            <label class="uk-form-label">{{ form.password1.label_tag }}</label>
                            {% render_field form.password1|attr:"class:uk-input" %}
                            {% for error in form.password1.errors %}
                                <small class="uk-text-danger">{{ error }}</small>
                            {% endfor %}
                        </div>
                        <div class="uk-width-1-2@s">
                            <label class="uk-form-label">{{ form.password2.label_tag }}</label>
                            {% render_field form.password2|attr:"class:uk-input" %}
                            {% for error in form.password2.errors %}
                                <small class="uk-text-danger">{{ error }}</small>
                            {% endfor %}
                        </div>
                        <div class="uk-width-1-1">
                            <button type="submit"
                                    class="uk-button uk-button-default uk-button-medium uk-width-1-1">
                                Sign Up
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}