{% load static %}
<footer>
	<div class="uk-section uk-margin-large-top uk-padding-small uk-background-secondary">
		<div class="uk-container-small uk-text-center uk-align-center uk-padding-remove">
			<a class="uk-padding-small" href="#" uk-icon="icon: facebook"></a>
			<a class="uk-padding-small" href="#" uk-icon="icon: twitter"></a>
			<a class="uk-padding-small" href="#" uk-icon="icon: linkedin"></a>
			<a class="uk-padding-small" href="#" uk-icon="icon: instagram"></a>
			<a class="uk-padding-small" href="#" uk-icon="icon: youtube"></a>
		</div>
	</div>
	<div class="uk-section uk-margin-remove uk-padding-remove uk-background-muted">
		<div class="uk-container uk-text-center uk-align-center">
			<small>&copy;Your company 2019</small>
		</div>
	</div>
</footer>